.container{
    width: 25%;
    height: 25%;
    background: rgb(241, 236, 202);
    box-sizing: border-box;
}

.container{
    border-right: 8px solid rgb(194, 185, 185);
    border-bottom: 8px solid rgb(194, 185, 185);
    border-radius: 2px;
}

.container:nth-child(4n+4){
    border-right: 0px;
    border-bottom: 8px solid rgb(194, 185, 185);
}

.container:nth-child(n+13){
    border-bottom: 0px;
}