body{
  padding: 0;
  margin: 0;
  background: #f5ab0ade;
  font-family: 'Ubuntu', sans-serif;
}

.container{
  display: flex;
  height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}